.footer-container {
  position: relative;
  text-align: center;
}

.footer-wave-container {
  height: 10vh;
  background-color: #fdf8e1;
  position: relative;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><g transform='scale(1, -1) translate(0, -134)'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23ffffff' /></g></svg>");
}

.footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-icons {
  border-top: 1px solid $primary;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between icons */
  margin-bottom: 5px; /* Space between icons and footer text */
  position: relative;
}

.social-link {
  color: $primary; /* Icon color */
  font-size: 1rem; /* Adjust icon size */
  text-decoration: none;
}

.social-link:hover {
  color: #ddd; /* Change color on hover */
}

// STYLE THE BACK TO TOP BUTTON
.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
  background-color: black;
  color: white;
  border: 2px solid black; /* Black border around the button */
  border-radius: 50%; /* Make it circular */
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Default icon color */
  i {
    font-size: 1rem;
    color: white; /* White chevron icon */
  }

  /* Hover state */
  &:hover {
    background-color: white; /* Change to white background */
    color: black;
  }

  /* Chevron icon color change on hover */
  &:hover i {
    transform: scale(1.2); /* Slightly increase size */
    color: black; /* Black chevron icon */
  }
}

hr.footer-line {
  border-top: 5px solid $primary;
  //margin-bottom: 0.5rem;
}
