// Import your font variables
$hero-name-h1-size: 60px;
$h1-size: 48px;
$h2-size: 36px;
$h3-size: 30px;
$h4-size: 24px;
$p-size: 16px;

// Hero Headings

h1.hero-name {
  font-family: $cinzel;
  font-size: $hero-name-h1-size;
  font-weight: 400; // Regular
}

// General Headings
h1 {
  font-family: $poppins;
  font-size: $h1-size;
  font-weight: 700; // Bold
}

h2 {
  font-family: $poppins;
  font-size: $h2-size;
  font-weight: 700; // Bold
}

h3 {
  font-family: $poppins;
  font-size: $h3-size;
  font-weight: 500; // Medium
}

h3.italic {
  font-family: $poppins;
  font-size: $h3-size;
  font-style: italic;
  font-weight: 500; // Medium
}

h4 {
  font-family: $poppins;
  font-size: $h4-size;
  font-weight: 500; // Medium
}

// Paragraphs
p {
  font-family: $montserrat;
  font-size: $p-size;
  font-weight: 400; // Regular
}

//fonts
.cinzeldecor {
  font-family: $cinzel-decor;
}
.cinzel {
  font-family: $cinzel;
}
.poppins {
  font-family: $poppins;
}
.montserrat {
  font-family: $montserrat;
}

//examples of using these styles in html
// <h1 class="hero-name">Hero Name Heading in Cinzel, 60px</h1>
// <h1>Regular H1 in Poppins, 48px, Bold</h1>
// <h2>Regular H2 in Poppins, 36px, Bold</h2>
// <h3>Regular H3 in Poppins, 30px, Medium</h3>
// <h3 class="italic">Italic H3 in Poppins, 30px, Medium</h3>
// <h4>Regular H4 in Poppins, 24px, Medium</h4>
// <p>Paragraph text in Montserrat, 16px</p>
