@use "custom";

// Import components
@use "components/animations";
@use "components/buttons";
@use "components/mixins";
@use "components/typography";

// Import sections
@use "sections/intro-section";
@use "sections/portfolio";
@use "sections/contact";
@use "sections/footer";

//header navmenu company title
//only show on very small screens
.responsive-short {
  display: none;
}

@media (max-width: 576px) {
  .responsive-header {
    font-size: 4vw;
  }
}
@media (max-width: 320px) {
  .responsive-header {
    display: none; /* Hide original text */
  }
  .responsive-short {
    display: block;
  }
}
